* 파이썬의 자료형
    * list

In [62]:
listData = [ 1, 2, 3, 4, 5]
for item in listData :
    print(item, end=' ')

1 2 3 4 5

In [63]:
print(listData[3])
listData[2] = "hello"
print(listData[2])
listData[1] = [ "a", "b"]
print(listData[1])
print(listData, type(listData), len(listData))

4
hello
['a', 'b']
[1, ['a', 'b'], 'hello', 4, 5] <class 'list'> 5

In [64]:
listData.append("6")
print(listData, type(listData), len(listData))

[1, ['a', 'b'], 'hello', 4, 5, '6'] <class 'list'> 6

In [65]:
listData.insert(4, "insert")
print(listData, type(listData), len(listData))

[1, ['a', 'b'], 'hello', 4, 'insert', 5, '6'] <class 'list'> 7

In [66]:
result = listData.pop()
print(listData, result)

[1, ['a', 'b'], 'hello', 4, 'insert', 5] 6

In [67]:
del(listData[5])
print(listData)

[1, ['a', 'b'], 'hello', 4, 'insert']

In [68]:
fruits = (
    "apple",
    "banana",
    "cherry",
    "orange",
    "kiwi",
    "melon",
    "mango",
    "lemon",
    "orange",
    "orange",
    "orange",
)
print(len(fruits))

11

In [69]:
print("orange" in fruits)
print("durian" in fruits)
print(fruits.count("orange"))
print(fruits.count("durian"))
print(fruits[:3])

True
False
4
0
('apple', 'banana', 'cherry')

In [70]:
target = "orange"
if target in fruits :
    print(f"{target} is in fruits")
else :
    print(f"{target} is not in fruits")

orange is in fruits

In [71]:
data = [
    11,
    2312,
    321412,
    432,
    4132,
    4312,
    534,
    654,
    4,
    76,
    876,
    45,
    54,
    7,
    6,
    4,
    5,
    654,
]
data.sort()
print(data)
data.sort(reverse=True)
print(data)
data.reverse()
print(data)

newList = data.copy()
newList[0] = "A"
print(data)
print(newList)

[4, 4, 5, 6, 7, 11, 45, 54, 76, 432, 534, 654, 654, 876, 2312, 4132, 4312, 321412]
[321412, 4312, 4132, 2312, 876, 654, 654, 534, 432, 76, 54, 45, 11, 7, 6, 5, 4, 4]
[4, 4, 5, 6, 7, 11, 45, 54, 76, 432, 534, 654, 654, 876, 2312, 4132, 4312, 321412]
[4, 4, 5, 6, 7, 11, 45, 54, 76, 432, 534, 654, 654, 876, 2312, 4132, 4312, 321412]
['A', 4, 5, 6, 7, 11, 45, 54, 76, 432, 534, 654, 654, 876, 2312, 4132, 4312, 321412]

In [72]:
string ="abcde"
result = string[1:3]
print(string, result)
result = string[:]
print(string, result)

abcde bc
abcde abcde

In [ ]:
string = "abcd" + "1234"
print(string)
string = "abcd" * 3
print(string)
listData = ["abcd"] * 3
print(listData)
listData = ["abcd", "1234"] + [
    1,
    2,
    3,
    4,
]
print(listData)

abcd1234
abcdabcdabcd

TypeError: unsupported operand type(s) for /: 'str' and 'int'