In [805]:
file = open("file.txt", "w", encoding="UTF8")
data = open("data.txt", "r", encoding="UTF8")

In [806]:
file.write("Hello, World!\n")
file.close()

data.read()

'hong\n30 \njeonju \nmale'

In [807]:
data = open("data.txt", "r", encoding="UTF8")
data.read()
data.close()

In [808]:
data = open("data.txt", "r", encoding="UTF8")
line = data.readline()
print(line, end="")
line = data.readline()
print(line, end="")
line = data.readline()
print(line, end="")
line = data.readline()
print(line, end="")
data.close()

hong
30
jeonju
male

In [809]:
data = open("data.txt", "r", encoding="UTF8")
while True:
    line = data.readline()
    if not line:
        print("\nEnd of file")
        break
    print(line, end="")
data.close()

hong
30
jeonju
male
End of file

In [810]:
data = open("data.txt", "r", encoding="UTF8")
lines = data.readlines()
for line in lines :
    print(line, end="")
print("")
print(lines, type(lines), len(lines))
data.close()

hong
30
jeonju
male
['hong\n', '30 \n', 'jeonju \n', 'male'] <class 'list'> 4

In [811]:
file = open("newData.txt", "w", encoding="UTF8")
file.write("World!\n")
file.write("seconde line\n")
file.write("third line\n")
file.close()

In [812]:
import os
path = "d:/temp/"
if not os.path.exists(path):
    print(f"{path} not exists, create directory")
    os.makedirs(path)

file = open(f"{path}newData.txt", "w", encoding="UTF8")
file.write("World!\n")
file.write("seconde line\n")
file.write("third line\n")
file.close()

In [813]:
path = "d:/temp/"
if not os.path.exists(path):
    print(f"{path} not exists, create directory")
    os.makedirs(path)

file = open(f"{path}newData.txt", "a", encoding="UTF8")

file.write("World?\n")
file.write("seconde line\n")
file.write("third line\n")
file.close()

In [814]:
data = None
with open("data.txt", "r", encoding="UTF8") as f:
    data = f.readline()
print(data)
print(type(data), len(data))

hong

<class 'str'> 5

In [815]:
with open("data2.txt", "w", encoding="UTF8") as f: 
    f.write("Hello, World!\n")

In [816]:
with open("data2.txt", "a", encoding="UTF8") as f: 
    f.write("Hello, new World!\n")

In [817]:
with open("data2.txt", "r", encoding="UTF8") as f:
    content = f.read()
print(content)

with open("data2.txt", "r", encoding="UTF8") as f:
    lines = f.readlines()
print(lines)

Hello, World!
Hello, new World!

['Hello, World!\n', 'Hello, new World!\n']

In [818]:
with open("data.csv", "r", encoding="UTF8") as f:
    datas = f.readlines()
print(datas)

for data in datas :
    split_datas = data.split(",")
    print(split_datas)

['관리번호,이름,학년,성별,전화번호,장학금여부,회비\n', '1,홍길동,1,m,010-0000-0000,TRUE,10000\n', '2,전우치,2,m,010-1111-1111,FALSE,1000']
['관리번호', '이름', '학년', '성별', '전화번호', '장학금여부', '회비\n']
['1', '홍길동', '1', 'm', '010-0000-0000', 'TRUE', '10000\n']
['2', '전우치', '2', 'm', '010-1111-1111', 'FALSE', '1000']

In [819]:
import csv

with open("data.csv", "r", encoding="UTF8") as f:
    datas = csv.reader(f)
    for data in datas :
        print(data)

['관리번호', '이름', '학년', '성별', '전화번호', '장학금여부', '회비']
['1', '홍길동', '1', 'm', '010-0000-0000', 'TRUE', '10000']
['2', '전우치', '2', 'm', '010-1111-1111', 'FALSE', '1000']

In [820]:
import csv

max_boy_name = ""
max_boy_number = -1
max_girl_name = ""
max_girl_number = -1

boy_total = 0
girl_total = 0

with open("students.csv", "r", encoding="UTF8") as data:
    lines = csv.reader(data)
    line_number = 0
    col_list = []
    
    for line in lines :
        line_number += 1
        if line_number == 1 :
            col_list = line
            print(col_list)
            continue

     # 남학생 총 인원수에 숫자를 더하기
        if "," in line[1] : # 숫자에 , 처리
            line[1] = line[1].replace(",","")
        cur_boy_number = int(line[1])   # 정수로 변환
        boy_total += cur_boy_number
        if cur_boy_number > max_boy_number :
            max_boy_number = cur_boy_number
            max_boy_name = line[0]


        # 여학생 인원수
        if "," in line[2] : # 숫자에 , 처리
            line[2] = line[2].replace(",","")
        cur_girl_number = int(line[2])   # 정수로 변환
        girl_total += cur_girl_number

        if cur_girl_number > max_girl_number :
            max_girl_number = cur_girl_number
            max_girl_name = line[0]

print(f"남학생이 가장 많은 학교 이름 {max_boy_name} : {max_boy_number}")
print(f"여학생이 가장 많은 학교 이름 {max_girl_name} : {max_girl_number}")
print(f"남학생 총 인원수 {boy_total}")
print(f"여학생 총 인원수 {girl_total}")
print(f"학생 총 인원수 {boy_total+girl_total}")

['School name', 'Male', 'Female']
남학생이 가장 많은 학교 이름 A : 1100
여학생이 가장 많은 학교 이름 D : 2300
남학생 총 인원수 2900
여학생 총 인원수 5300
학생 총 인원수 8200

In [821]:
import csv

data_list = []

with open("students.csv", "r", encoding="UTF8") as f:
    reader = csv.reader(f)
    header = next(reader)
    
    for line in reader :
        if "," in line[1] : # 숫자에 , 처리
            line[1] = line[1].replace(",","")
        if "," in line[2] : # 숫자에 , 처리
            line[2] = line[2].replace(",","")
        
        school_dict = {
            header[0] : line[0],
            header[1] : int(line[1]),
            header[2] : int(line[2])
        }

  
        print(school_dict)
        data_list.append(school_dict)
    print(data_list)
    
    max_m = -1
    max_f = -1
    total_b = 0
    total_g = 0
    b_name = ""
    g_name = ""

    for data in data_list :
        cur_boy = data['Male']
        cur_girl = data['Female']
        
        total_b += cur_boy
        total_g += cur_girl
        if max_m < cur_boy :
            max_m = cur_boy
            b_name = data['School name']
        if max_f < cur_girl :
            max_f = cur_girl
            g_name = data['School name']

    print(f"남학생이 가장 많은 학교 이름 {b_name} : {max_m}")
    print(f"여학생이 가장 많은 학교 이름 {g_name} : {max_f}")
    print(f"남학생 총 인원수 {total_b}")
    print(f"여학생 총 인원수 {total_g}")
    print(f"학생 총 인원수 {total_b+total_g}")

{'School name': 'A', 'Male': 1100, 'Female': 900}
{'School name': 'B', 'Male': 1000, 'Female': 1200}
{'School name': 'C', 'Male': 800, 'Female': 900}
{'School name': 'D', 'Male': 0, 'Female': 2300}
[{'School name': 'A', 'Male': 1100, 'Female': 900}, {'School name': 'B', 'Male': 1000, 'Female': 1200}, {'School name': 'C', 'Male': 800, 'Female': 900}, {'School name': 'D', 'Male': 0, 'Female': 2300}]
남학생이 가장 많은 학교 이름 A : 1100
여학생이 가장 많은 학교 이름 D : 2300
남학생 총 인원수 2900
여학생 총 인원수 5300
학생 총 인원수 8200

In [822]:
nesList = []
datas = [1,2,3,4,5,6,54,654,432,32,43,2,4,32,43,2]

newList = [data for data in datas]

In [823]:
boyList = [ item['Male'] for item in data_list]
boyList
print(sum(boyList))
print(max(boyList))
girlList = [item['Female'] for item in data_list]
print(sum(girlList))
print(max(girlList))

print(sum(boyList) + sum(girlList))

2900
1100
5300
2300
8200

In [824]:
with open("data.tsv", "r", encoding="euc-kr") as f:
    reader = csv.reader(f, delimiter="\t")
    for line in reader :
        print(line)

['학교이름', '남학생', '여학생']
['A고교', '1,100', '900 ']
['B고교', '1,000', '1,200']
['C고교', '800 ', '900 ']
['D고교', '0 ', '2,300']