* fuction

In [93]:
def MyFun(x , y) :
    print("x = ", x , "y = ", y)
    return x + y
result = MyFun(10, 20)
print("result = ", result)

x =  10 y =  20
result =  30

In [94]:
YourFun = MyFun
print ("YourFun(100, 200) = ", YourFun(100, 200))

x =  100 y =  200
YourFun(100, 200) =  300

In [95]:
def MyFun(x , y) :
    print("x = ", x , "y = ", y)
    return x - y
result = MyFun(10, 20)
print("result = ", result)

x =  10 y =  20
result =  -10

In [96]:
def MyFun(x , y, z) :
    print("x = ", x , "y = ", y , "z = ", z)
    return x - y - z
result = MyFun(10, 20, 40)
print("result = ", result)

x =  10 y =  20 z =  40
result =  -50

In [97]:
def MyFun(x , y, z=None) :
    print("x = ", x , "y = ", y , "z = ", z)
    if z == None:
        return x - y
    else:
        return x - y - z
result = MyFun(10, 20, 40)
print("result = ", result) 
result = MyFun(10, 20)
print("result = ", result)

x =  10 y =  20 z =  40
result =  -50
x =  10 y =  20 z =  None
result =  -10

In [98]:
def MyFun(x , y, z=None) :
    print("x = ", x , "y = ", y , "z = ", z)
    if z == None:
        return x - y
    else:
        return x - y - z
result = MyFun(10, 20, 40)
print("result = ", result) 
result = MyFun(10, 20)
print("result = ", result)

x =  10 y =  20 z =  40
result =  -50
x =  10 y =  20 z =  None
result =  -10

In [99]:
def MyFun(name, addr, age, gender) :
    print('-' * 20)
    print("name = ", name)
    print("addr = ", addr)
    print("age = ", age)
    print("gender = ",gender)

In [100]:
MyFun("Yoon", "Seoul", 30, "M")
MyFun(30, "Seoul", 'home', "M")
MyFun(gender="M", name="Yoon", age=30, addr="Seoul")

--------------------
name =  Yoon
addr =  Seoul
age =  30
gender =  M
--------------------
name =  30
addr =  Seoul
age =  home
gender =  M
--------------------
name =  Yoon
addr =  Seoul
age =  30
gender =  M

In [101]:
def doSum( *numbers, op="+") :
    print(numbers, type(numbers))

In [102]:
doSum(1, op="+")
doSum(1,2, '*')
doSum(1,2,3)
doSum(1,2,3,4)

(1,) <class 'tuple'>
(1, 2, '*') <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>

In [103]:
def doSum( *numbers) :
    sum = 0
    for num in numbers:
        sum += num
    return sum

In [104]:
print(doSum(1))
print(doSum(1,2))
print(doSum(1,2,3))
print(doSum(1,2,3,4))

1
3
6
10

In [105]:
def DoCal(x, y) :
    sum = x + y
    sub = x - y 
    mul = x * y
    div = x / y
    return sum, sub, mul, div

In [106]:
sum, sub, mul, div = DoCal(100, 20)
print("sum = ", sum)
print("sub = ", sub)
print("mul = ", mul)
print("div = ", div)

sum =  120
sub =  80
mul =  2000
div =  5.0