* 반복문의 종류
    * while 
        &emsp; 조건문에 사용할 변수 초기화
        &emsp; while 조건문 :
        &emsp;&emsp; 코드블럭
        &emsp;&emsp; 변수증감
    * for
        &emsp; for 변수 in 객체 :
        &emsp;&emsp; 코드블럭
    * do-while : 없음

In [14]:
n = 1
while n <= 10 :
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
10

In [15]:
i = 1
while i < 10 :
    print (f"2 * {i} = {i * 2:2}")
    i +=1

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [16]:
i = 1
while i < 10 :
    
    j = 1
    while j < 10 :
        print (f"{j} * {i} = {i * j:2}", end=' | ')
        j += 1
    print("")
    i +=1

1 * 1 =  1 | 2 * 1 =  2 | 3 * 1 =  3 | 4 * 1 =  4 | 5 * 1 =  5 | 6 * 1 =  6 | 7 * 1 =  7 | 8 * 1 =  8 | 9 * 1 =  9 |
1 * 2 =  2 | 2 * 2 =  4 | 3 * 2 =  6 | 4 * 2 =  8 | 5 * 2 = 10 | 6 * 2 = 12 | 7 * 2 = 14 | 8 * 2 = 16 | 9 * 2 = 18 |
1 * 3 =  3 | 2 * 3 =  6 | 3 * 3 =  9 | 4 * 3 = 12 | 5 * 3 = 15 | 6 * 3 = 18 | 7 * 3 = 21 | 8 * 3 = 24 | 9 * 3 = 27 |
1 * 4 =  4 | 2 * 4 =  8 | 3 * 4 = 12 | 4 * 4 = 16 | 5 * 4 = 20 | 6 * 4 = 24 | 7 * 4 = 28 | 8 * 4 = 32 | 9 * 4 = 36 |
1 * 5 =  5 | 2 * 5 = 10 | 3 * 5 = 15 | 4 * 5 = 20 | 5 * 5 = 25 | 6 * 5 = 30 | 7 * 5 = 35 | 8 * 5 = 40 | 9 * 5 = 45 |
1 * 6 =  6 | 2 * 6 = 12 | 3 * 6 = 18 | 4 * 6 = 24 | 5 * 6 = 30 | 6 * 6 = 36 | 7 * 6 = 42 | 8 * 6 = 48 | 9 * 6 = 54 |
1 * 7 =  7 | 2 * 7 = 14 | 3 * 7 = 21 | 4 * 7 = 28 | 5 * 7 = 35 | 6 * 7 = 42 | 7 * 7 = 49 | 8 * 7 = 56 | 9 * 7 = 63 |
1 * 8 =  8 | 2 * 8 = 16 | 3 * 8 = 24 | 4 * 8 = 32 | 5 * 8 = 40 | 6 * 8 = 48 | 7 * 8 = 56 | 8 * 8 = 64 | 9 * 8 = 72 |
1 * 9 =  9 | 2 * 9 = 18 | 3 * 9 = 27 | 4 * 9 = 36 | 5 * 9 = 45 | 6 * 9 = 54 | 7 * 9 = 63 | 8 * 9 = 72 | 9 * 9 = 81 |

In [17]:
n = 1
while True :
    if n > 100 :
        break
    if n % 2 == 0 :
        print(n)
        n += 1
        continue
    print(f"{n} is not even number")
    n += 1

1 is not even number
2
3 is not even number
4
5 is not even number
6
7 is not even number
8
9 is not even number
10
11 is not even number
12
13 is not even number
14
15 is not even number
16
17 is not even number
18
19 is not even number
20
21 is not even number
22
23 is not even number
24
25 is not even number
26
27 is not even number
28
29 is not even number
30
31 is not even number
32
33 is not even number
34
35 is not even number
36
37 is not even number
38
39 is not even number
40
41 is not even number
42
43 is not even number
44
45 is not even number
46
47 is not even number
48
49 is not even number
50
51 is not even number
52
53 is not even number
54
55 is not even number
56
57 is not even number
58
59 is not even number
60
61 is not even number
62
63 is not even number
64
65 is not even number
66
67 is not even number
68
69 is not even number
70
71 is not even number
72
73 is not even number
74
75 is not even number
76
77 is not even number
78
79 is not even number
80
81 is not even number
82
83 is not even number
84
85 is not even number
86
87 is not even number
88
89 is not even number
90
91 is not even number
92
93 is not even number
94
95 is not even number
96
97 is not even number
98
99 is not even number
100

In [18]:
string = "0123456789abcdef"
for char in string :
    print(char, end=' ')

0 1 2 3 4 5 6 7 8 9 a b c d e f

In [19]:
x, y = 10, 3
print(x, y)
(x, y) = (10, 3)
print(x, y)

10 3
10 3

In [20]:
tupleData = (10, 20, 30)
print(tupleData, type(tupleData), len(tupleData))

(10, 20, 30) <class 'tuple'> 3

In [ ]:
for itme in tupleData :
    print(item) 
for index in (0, 1, 2) :
    print(tupleData[index])

In [23]:
for index in (0,1,2,3,4,5,6,7,8,9) :
    print(f"index : {index}")
for index in range(10) :
    print(f"index : {index}")
for index in range(5, 10) :
    print(f"index : {index}")
for index in range(5, 50, 3) :
    print(f"index : {index}")

index : 0
index : 1
index : 2
index : 3
index : 4
index : 5
index : 6
index : 7
index : 8
index : 9
index : 0
index : 1
index : 2
index : 3
index : 4
index : 5
index : 6
index : 7
index : 8
index : 9
index : 5
index : 6
index : 7
index : 8
index : 9
index : 5
index : 8
index : 11
index : 14
index : 17
index : 20
index : 23
index : 26
index : 29
index : 32
index : 35
index : 38
index : 41
index : 44
index : 47

In [24]:
print("15", "43", "40", sep=":")
hours = 15
minutes = 43
seconds = 40   
print(hours, minutes, seconds, sep=":")

15:43:40
15:43:40

In [ ]:
print("a", "b", "c", "d", sep=', ')
print("a", "b", "c", "d", sep='\n')

In [25]:
for item in ("a", "b", "c", "d") :
    print(item, end=' ')

a b c d